@import "../App.css";

.NavBar {
    background-color: var(--primary);
    display: flex;
    place-items: center;
}

.Home{
    background-color: var(--primary);
    display: flex;
    place-items: center;
}

.LogoText {
    background-color: var(--primary);
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.Image {
    background-color: var(--primary);
    padding: 5px;
}